/* css styles */
.navbar.navbar-inverse {
  background-color: #484848 !important;
}
.value-box.value-box-primary {
  background-color: #FF5A5F !important;
  color: #fff !important;
}
.value-box.value-box-primary .icon i {
  color: #fff  !important;
  font-size: 30px  !important;
}
.navbar-logo img {
  height: 48px !important;
}
.navbar-author {
  margin-left: 10px !important;
  font-size: .8rem !important;
}