/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Dosis:wght@200;600&display=swap');
body{
  letter-spacing: 0;
}
footer.footer .nav-footer{
  background-color:#011936;
  color: #eee;
}
.nav-footer .nav-footer-left {
  font-size: .725em;
}
.navbar-dark .navbar-brand,
.sidebar-title > a{
  font-family: 'Cabin', sans-serif;
  color: #C4A29E;
  font-weight: 400 !important;
  text-transform: none !important; 
  font-size: 1.65rem;
}
div.sidebar-item-container {
  color: #a6a6a6;
}
.sidebar-navigation .sidebar-tool {
  color: #fff;
  }
.navbar-dark .navbar-nav .show > .nav-link, 
.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover,
div.sidebar-item-container .active,
div.sidebar-item-container:hover, 
div.sidebar-item-container:focus {
  color: #fff;
}
.navbar-dark,
#quarto-sidebar{
  background-color: #505168;
}
ul.me-auto {
  margin-left: auto !important;
}
ul.me-auto {
  margin-right: 0 !important;
}
footer{  
  background-color: #011936;
  color: #eee;
}